<select class="form-select" (change)="changeLanguage($event)">
    <option value="es">{{ 'es' | translate }}</option>  
    <option value="en">{{ 'en' | translate }}</option>
    <option value="fr">{{ 'fr' | translate }}</option>
    <option value="it">{{ 'it' | translate }}</option>
    <option value="de">{{ 'de' | translate }}</option>
    <option value="zh">{{ 'zh' | translate }}</option>
    <option value="ca">{{ 'ca' | translate }}</option>
    <!-- Agrega más opciones para otros idiomas si es necesario -->
  </select>
